image:
  repository: 107570140649.dkr.ecr.us-east-1.amazonaws.com/awaves-dev-backend-api
  tag: latest
  pullPolicy: Always

replicaCount: 2

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 3
  targetCPUUtilizationPercentage: 70

service:
  port: 80
  targetPort: 8001

resources:
  requests:
    cpu: "250m"
    memory: "512Mi"
  limits:
    cpu: "1000m"
    memory: "3Gi"

ingress:
  host: api.awaves.net
  certificateArn: "arn:aws:acm:us-east-1:107570140649:certificate/38c63594-12a0-40c3-9d3b-235ec3c73619"
  groupOrder: "3"

serviceAccount:
  name: awaves-api-sa
  irsaRoleArn: arn:aws:iam::107570140649:role/awaves-dev-backend-api

imagePullSecrets:
  - name: ecr-secret
