apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: mobile-hpa
  namespace: mobile
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: react-mobile
  minReplicas: 1
  maxReplicas: 3
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
