apiVersion: v1
kind: ConfigMap
metadata:
  name: awaves-api-config
  namespace: api
  labels:
    app: fastapi-api
    app.kubernetes.io/part-of: awaves
data:
  ENV: "production"
  PORT: "8001"
  AWS_REGION: "us-east-1"
  DB_WRITER_HOST: "awaves-dev-aurora.cluster-cqpamok4qo4i.us-east-1.rds.amazonaws.com"
  DB_READER_HOST: "awaves-dev-aurora.cluster-ro-cqpamok4qo4i.us-east-1.rds.amazonaws.com"
  DB_PORT: "5432"
  DB_NAME: "awaves"
  DB_WRITER_USER: "awaves_writer"
  DB_READER_USER: "awaves_reader"
  DB_SSL_MODE: "require"
  CACHE_URL: "rediss://master.awaves-dev-valkey.2pzwt5.use1.cache.amazonaws.com:6379"
  OPENSEARCH_HOST: "https://vpc-awaves-dev-spots-k6qy4iunvw7wk3g5zjjd5m46li.us-east-1.es.amazonaws.com"
  OPENSEARCH_PORT: "443"
  DYNAMODB_SURF_DATA_TABLE: "awaves-dev-surf-info"
  DYNAMODB_SAVED_LIST_TABLE: "awaves-dev-saved-list"
  DYNAMODB_LOCATIONS_TABLE: "awaves-dev-locations"
  CORS_ORIGINS: "https://awaves.net,https://www.awaves.net,https://web.awaves.net,https://mobile.awaves.net"
  INFERENCE_MODE: "sagemaker"
  SAGEMAKER_ENDPOINT_NAME: "awaves-dev-surf-index"
  LLM_SUMMARY_LAMBDA_NAME: "awaves-dev-bedrock-summary"
