version: "3.8"

services:
  opensearch:
    build:
      context: .
      dockerfile: Dockerfile.opensearch
    container_name: awaves-opensearch
    environment:
      - discovery.type=single-node
      - plugins.security.disabled=true
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=Aw@ves2026!Str0ng
      - OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
      - "9600:9600"
    volumes:
      - opensearch-data:/usr/share/opensearch/data
    networks:
      - awaves-net

volumes:
  opensearch-data:

networks:
  awaves-net:
    driver: bridge
